[submodule "LaTeX/piraattitesti"]
	path = LaTeX/piraattitesti
	url = https://git.piraattipuolue.fi/mikaela/testi.git
[submodule "gayming/fixcontroller.py"]
	path = gayming/fixcontroller.py
	url = https://gist.github.com/de2df973323b7c6acf45f40dc66e8db3.git
[submodule "briar/forums/PandaCoderPL"]
	path = briar/forums/PandaCoderPL
	url = https://codeberg.org/PandaCoderPL/Briar-Forums.git
[submodule "associations/piraattinuoret/meeting-notes/official"]
	path = associations/piraattinuoret/meeting-notes/official
	url = https://github.com/Piraattinuoret/Poytakirjat.git
[submodule "submodules/PPFI-IM"]
	path = submodules/PPFI-IM
	url = https://git.piraattipuolue.fi/Pikaviestimet/Pikaviestimet.git
[submodule "language-resources"]
	path = language-resources
	url = https://gitea.blesmrt.net/mikaela/language-resources.git
[submodule "food"]
	path = food
	url = https://gitea.blesmrt.net/mikaela/ruokajutut
[submodule "fineid/pyllyukko-fineid.md"]
	path = fineid/pyllyukko-fineid.md
	url = https://gist.github.com/a1ed6baa6b638b805a30b16960399e94.git
[submodule "submodules/shell-things"]
	path = submodules/shell-things
	url = https://gitea.blesmrt.net/Mikaela/shell-things.git
[submodule "LaTeX/vakioasiakirja"]
	path = LaTeX/vakioasiakirja
	url = https://github.com/datakurre/vakioasiakirja.git
[submodule "LaTeX/kirja"]
	path = LaTeX/kirja
	url = https://git.piraattipuolue.fi/mikaela/kirja.git
[submodule "submodules/playstation2/OPL-Widescreen-Cheats"]
	path = submodules/playstation2/OPL-Widescreen-Cheats
	url = https://github.com/PS2-Widescreen/OPL-Widescreen-Cheats.git
[submodule "submodules/playstation2/OpenPS2Loader_Widescreen_Cheats"]
	path = submodules/playstation2/OpenPS2Loader_Widescreen_Cheats
	url = https://github.com/madmodder123/OpenPS2Loader_Widescreen_Cheats.git
[submodule "briar/forums/retiolus"]
	path = briar/forums/retiolus
	url = https://codeberg.org/retiolus/Briar-Forums.git
[submodule "LaTeX/european-union-flags"]
	path = LaTeX/european-union-flags
	url = https://gitea.blesmrt.net/Mikaela/eu-lippuprojekti.git
