{
  "insertPragma": true,
  "proseWrap": "always",
  "singleAttributePerLine": true,
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-toml",
    "prettier-plugin-sh"
  ],
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}
