/* ==UserStyle==
@name        Dark Amber
@updateURL   https://gitea.blesmrt.net/mikaela/gist/raw/branch/master/web-browsers/amber.user.css
@namespace   eu.aminda
@version     2024.22.2
@preprocessor stylus
@var select FontSet "Font Set" {
    "Liberation Serif, Tinos, Times New Roman, serif": 'serif',
    "Liberation Sans, Arimo, Arial, sans-serif": 'sans-serif'
}
==/UserStyle== */

:root {
  color-scheme: only dark !important;
}

*:not(a) {
  color: revert !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
  color: #ffb700 !important;
  border-color: #ffb700 !important;
  background-color: #000000 !important;
  font-family: FontSet !important;
}

a {
  color: revert !important;
  text-decoration: underline !important;
  font-family: FontSet !important;
}

code,
pre {
  font-family: $monospace-font-family !important;
  font-size: 0.8em !important;
}
