/* ==UserStyle==
@name        Revert
@updateURL   https://gitea.blesmrt.net/mikaela/gist/raw/branch/master/web-browsers/revert-serif.user.css
@namespace   eu.aminda
@version     2024.22.0
@var select FontSet "Font Set" {
    "Liberation Serif, Tinos, Times New Roman, serif": 'serif',
    "Liberation Sans, Arimo, Arial, sans-serif": 'sans-serif'
}
==/UserStyle== */

:root {
  color-scheme: dark light !important;
}
* {
  font-family: FontSet !important;
  color: revert !important;
  border-color: revert !important;
  background-color: revert !important;
}
a {
  text-decoration: underline !important;
}
code,
pre {
  font-family: "Liberation Mono", "Cousine", "Courier New", monospace !important;
}
