/* ==UserStyle==
@name        Revert Sans
@updateURL   https://gitea.blesmrt.net/mikaela/gist/raw/branch/master/web-browsers/revert-serif.user.css
@namespace   eu.aminda
@version     2024.22.0
==/UserStyle== */

:root {
  color-scheme: dark light !important;
}
* {
  font-family: "Liberation Sans", "Arimo", "Arial", sans-serif;
  color: revert !important;
  background-color: revert !important;
}
a {
  text-decoration: underline !important;
}
code,
pre {
  font-family: "Liberation Mono", "Cousine", "Courier New", monospace;
}
