/* ==UserStyle==
@name        System Fonts
@updateURL   https://gitea.blesmrt.net/mikaela/gist/raw/branch/master/web-browsers/usercss/change-fonts.user.css
@namespace   eu.aminda
@version     2024.22.7
@var select FontSet "Preferred font set" {
    "System (no fallback)": "system-ui",
    "Serif": "ui-serif, system-ui, Liberation Serif, Tinos, Times New Roman, serif",
    "Sans Serif": "ui-sans-serif, system-ui, Liberation Sans, Arimo, Arial, sans-serif"
}
==/UserStyle== */

:root {
  --a-monospace-fonts: "ui-monospace, Liberation Mono", "Cousine",
    "Courier New", monospace;
}

/* Use the variable from above. */
* {
  font-family: var(--FontSet) !important;
}

@font-face {
  font-family: var(--FontSet) !important;
}

/* Code blocks preferably use monospace font, which is specified here then. */
code,
pre {
  font-family: var(--a-monospace-fonts) !important;
  @font-face {
    font-family: var(--a-monospace-fonts) !important;
  }
}

/* I have Firefox always underlining links and not seeing it on Android etc.
bothers me.*/
a {
  text-decoration: underline !important;
}
