/* ==UserStyle==
@name        Change Fonts
@updateURL   https://gitea.blesmrt.net/mikaela/gist/raw/branch/master/web-browsers/usercss/change-fonts.user.css
@namespace   eu.aminda
@version     2024.22.4
@var select FontSet "Font Set" {
    "System": "system-ui",
    "Serif": "Liberation Serif, Tinos, Times New Roman, serif",
    "Sans Serif": "Liberation Sans, Arimo, Arial, sans-serif"
}
==/UserStyle== */

:root {
  --a-monospace-fonts: "Liberation Mono", "Cousine", "Courier New", monospace;
}

/* Use the variable from above. */
* {
  font-family: var(--FontSet) !important;
}

@font-face {
  font-family: var(--FontSet) !important;
}

/* Code blocks preferably use monospace font, which is specified here then. */
code,
pre {
  font-family: var(--a-monospace-fonts) !important;
  @font-face {
    fomt-family: var(--a-monospace-fonts) !important;
  }
}
